@use "../../variables.scss" as vars;
.swiper-container {
  width: 100%; /* Ajuste conforme necessário */
  height: 300px; /* Ajuste conforme necessário */
}

.swiper-slide {
  display: flex; /* Para centralizar o conteúdo */
  justify-content: center;
  align-items: center;
}

img {
  width: 100%; /* Ajuste conforme necessário */
  height: auto; /* Mantém a proporção da imagem */
}

main {
  padding: 10px;
}

header {
  padding-left: 10px;
  padding-top: 10px;

  .logo-container {
    width: fit-content;

    display: flex;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;

    border: 1px solid #fff;
    border-radius: 12px;
    // background-color: #ffffff33;
    img {
      width: 40px;
    }
    h2 {
      font-size: 1rem;
      font-weight: 600;
      color: vars.$light-green;
    }
  }
}

section {
  // padding: 10px 10px;

  .hero-title {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 2.5rem;
    color: vars.$light-green;
  }

  .description {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.1rem;
    padding: 5px 0px;
    color: vars.$light-green;
  }

  .plans {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px 0px;
    gap: 40px;

    border: 2px solid #fff;
    border-radius: 12px;
    div {
      padding: 5px 10px;
      cursor: pointer;
      p {
        font-size: 0.9rem;
        font-weight: 300;
        text-align: center;
        color: vars.$light-green;
      }
    }

    .selected {
      padding: 5px 10px;
      border-radius: 5px;
      background-color: vars.$red;
    }
  }

  form {
    .input-container {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-top: 10px;

      label {
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        line-height: 12px;

        display: flex;
        align-items: center;
        gap: 5px;

        i {
          font-size: 20px;
        }
      }

      input {
        height: 25px;
      }
    }

    input,
    textarea,
    .custom-file-upload {
      border: 2px solid vars.$light-green !important;
      border-radius: 8px !important;
      padding: 5px !important;
      background-color: vars.$input-color !important;
    }

    input[type="file"] {
      display: none;
    }

    .errorMessage {
      text-align: center;
      font-size: 14px;
      font-weight: 600;
      color: vars.$red;
    }

    .custom-file-upload {
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .submit-button {
      width: 100%;
      margin-top: 10px;
      padding: 10px;
      background-color: vars.$red;
      border-radius: 10px;
      font-size: 18px;
      color: vars.$light-green;
      font-weight: 600;
      cursor: pointer;
    }
  }
}

#preview {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px;

  h1 {
    font-size: 1.1rem;
    font-weight: 900;
    line-height: 1.1rem;
    color: vars.$light-green;

    margin-top: 20px;
    margin-bottom: 20px;
  }

  .preview-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 10px;

    border-radius: 10px;
    background-color: vars.$light-green;

    h2 {
      font-size: 1.5rem;
      font-weight: 900;
      line-height: 1.5rem;
      margin: 10px 0px;
      
      text-align: center;
      color: vars.$red;
    }

    .image-wrapper {
      border-radius: 15px;
      img {
        border-radius: 15px;
      }
    }

    .image-placeholder {
      height: 600px;
      width: 95%;
      border-radius: 15px;
      background-color: #B9DECB;
    }

    .message-wrapper {
      text-align: center;
      color: vars.$dark-green;
      width: 90%;

      p {
        word-wrap: break-word;
      }
    }

    .audio-wrapper {
      width: 100%;
      visibility: hidden;
      audio {
        width: 100%;
        border-radius: 20px !important;
      }

      audio::-webkit-media-controls-panel {
        background-color: vars.$medium-green !important;
      }

      .audioPlayer {
        display: block;
        border-radius: 20px;
        margin:0 auto;
      }

      audio::-webkit-media-controls-mute-button,
      audio::-webkit-media-controls-play-button,
      audio::-webkit-media-controls-timeline-container,
      audio::-webkit-media-controls-current-time-display,
      audio::-webkit-media-controls-time-remaining-display,
      audio::-webkit-media-controls-timeline,
      audio::-webkit-media-controls-volume-slider-container,
      audio::-webkit-media-controls-volume-slider,
      audio::-webkit-media-controls-seek-back-button,
      audio::-webkit-media-controls-seek-forward-button,
      audio::-webkit-media-controls-fullscreen-button,
      audio::-webkit-media-controls-rewind-button,
      audio::-webkit-media-controls-return-to-realtime-button,
      audio::-webkit-media-controls-toggle-closed-captions-button {
        color: vars.$light-green;
      }
    }
  }
}
