<header>
  <div class="logo-container">
    <img src="../../assets/images/qrgift-logo.svg" />
    <h2>QR Gift</h2>
  </div>
</header>

<main>
  <section *ngIf="!hasId">
    <h1 class="hero-title">Surpreenda alguém nesse natal</h1>
    <p class="description">
      Presenteie quem você ama neste natal. Use o formulário abaixo e receba um
      QR Code para uma página única com a sua mensagem.
    </p>

    <div class="plans">
      <div [ngClass]="{ selected: selectedPlan === 1 }" (click)="changePlan(1)">
        <p>Fotos, mensagem, música - <b>R$19,99</b></p>
      </div>
      <div [ngClass]="{ selected: selectedPlan === 2 }" (click)="changePlan(2)">
        <p>Fotos, mensagem, áudio ou música - <b>R$39,99</b></p>
      </div>
    </div>

    <form [formGroup]="formGroup">
      <div class="input-container">
        <label>De:</label>
        <input formControlName="from" placeholder="Seu nome" type="text" />
        <div
          *ngIf="
            formGroup.get('from')?.invalid && formGroup.get('from')?.touched
          "
        >
          <span
            class="errorMessage"
            *ngIf="formGroup.get('from')?.errors?.['required']"
            >Este campo é obrigatório.</span
          >
        </div>
      </div>
      <div class="input-container">
        <label>Para:</label>
        <input
          formControlName="to"
          placeholder="Para quem você quer escrever"
          type="text"
        />
        <div
          *ngIf="formGroup.get('to')?.invalid && formGroup.get('to')?.touched"
        >
          <span
            class="errorMessage"
            *ngIf="formGroup.get('to')?.errors?.['required']"
            >Este campo é obrigatório.</span
          >
        </div>
      </div>
      <!-- <div class="input-container">
        <label>E-mail:</label>
        <input
          formControlName="email"
          placeholder="Digite seu melhor email"
          type="text"
        />
        <div
          *ngIf="
            formGroup.get('email')?.invalid && formGroup.get('email')?.touched
          "
        >
          <span
            class="errorMessage"
            *ngIf="formGroup.get('email')?.errors?.['required']"
            >Este campo é obrigatório.</span
          >
        </div>
      </div> -->
      <div class="input-container">
        <label>Link YouTube:</label>
        <input
          formControlName="linkYoutube"
          placeholder="Escolha uma linda música"
          type="text"
        />
        <!-- <div
          *ngIf="
            formGroup.get('linkYoutube')?.invalid &&
            formGroup.get('linkYoutube')?.touched
          "
        >
          <span
            class="errorMessage"
            *ngIf="formGroup.get('linkYoutube')?.errors?.['required']"
            >Este campo é obrigatório.</span
          >
        </div> -->
      </div>
      <div class="input-container">
        <label>Ano:</label>
        <ng-select
          [items]="years"
          formControlName="year"
          bindLabel="name"
          bindValue="value"
          placeholder="Ano do natal"
          (change)="changeYear($event)"
        ></ng-select>
        <div
          *ngIf="
            formGroup.get('year')?.invalid && formGroup.get('year')?.touched
          "
        >
          <span
            class="errorMessage"
            *ngIf="formGroup.get('year')?.errors?.['required']"
            >Este campo é obrigatório.</span
          >
        </div>
      </div>
      <div class="input-container">
        <label>Mensagem:</label>
        <textarea
          formControlName="message"
          [rows]="5"
          placeholder="Escreva sua mensagem para alguém especial. 🎄🌟"
          (keydown)="chageMessage($event)"
          (change)="chageMessage($event)"
        ></textarea>
        <div
          *ngIf="
            formGroup.get('message')?.invalid &&
            formGroup.get('message')?.touched
          "
        >
          <span
            class="errorMessage"
            *ngIf="formGroup.get('message')?.errors?.['required']"
            >Este campo é obrigatório.</span
          >
        </div>
      </div>

      <div class="input-container">
        <label for="picture" class="custom-file-upload">
          <i class="bx bx-camera"></i>
          Escolha até 3 fotos
        </label>
        <input
          formControlName="pictures"
          type="file"
          accept="image/*"
          multiple
          id="picture"
          (change)="changePicture($event)"
        />
        <span class="errorMessage">{{ errorMessage }}</span>
        <div
          *ngIf="
            formGroup.get('pictures')?.invalid &&
            formGroup.get('pictures')?.touched
          "
        >
          <span
            class="errorMessage"
            *ngIf="formGroup.get('pictures')?.errors?.['required']"
            >Este campo é obrigatório.</span
          >
        </div>
      </div>

      <div class="input-container" *ngIf="selectedPlan !== 1">
        <label for="audio" class="custom-file-upload">
          <i class="bx bx-microphone"></i>
          Mensagem de audio
        </label>
        <input
          formControlName="audio"
          type="file"
          accept=".mp3,audio/*;capture=microphone"
          id="audio"
          (change)="changeAudio($event)"
        />
        <div
          *ngIf="
            formGroup.get('audio')?.invalid && formGroup.get('audio')?.touched
          "
        >
          <span
            class="errorMessage"
            *ngIf="formGroup.get('audio')?.errors?.['required']"
            >Este campo é obrigatório.</span
          >
        </div>
      </div>

      <button type="submit" class="submit-button" (click)="onSubmit()">
        Gerar minha página
      </button>
    </form>
  </section>
  <section id="preview">
    <h1>Como ficará sua mensagem</h1>
    <div class="preview-container">
      <h2>Natal de {{ selectedYear || 2001 }}</h2>
      <div class="image-wrapper" *ngIf="this.imageSrc.length > 0 || this.giftById">
        <img
          [src]="!hasId ? imageSrc[(currentIndex$ | async) ?? 0] : this.giftById?.giftWebSiteImages[(currentIndex$ | async) ?? 0]?.url"
          alt="Imagem Atual"
          cover
        />
      </div>
      <!-- <div class="image-placeholder" *ngIf="this.imageSrc.length === 0"></div> -->

      <div class="from-to">
        <div>
          <b>De: </b>
          <p>{{ this.formGroup.get("to")?.value ? this.formGroup.get("to")?.value : this.giftById?.giftGiverName }}</p>
        </div>

        <div>
          <b>Para: </b>
          <p>{{ this.formGroup.get("from")?.value ? this.formGroup.get("from")?.value : this.giftById?.receiversName }}</p>
        </div>
      </div>

      <div class="message-wrapper">
        <p>{{ message ? message : this.giftById?.message }}</p>
      </div>
      <video src="{{this.giftById.musicURL}}" autoplay loop></video>
      <div class="audio-wrapper">
        <audio class="audioPlayer" autoplay loop controls>
          <source src="" type="audio/mpeg" />
          Your browser does not support the audio tag.
        </audio>
      </div>
    </div>
  </section>
  <!-- <div class="main__container">
    <ng-lottie 
        [options]="options" 
        width="500px" 
        height="500px" 
        (animationCreated)="animationCreated($event)" />
  
    <button 
        class="animation__button" 
        (click)="play()">Play</button>
    <button 
        class="animation__button" 
        (click)="pause()">Pause</button>
    <button 
        class="animation__button"
         (click)="stop()">Stop</button>
  </div> -->
</main>
