//colors variables
$red: #EF233C;
$light-green: #D5F2E3;
$medium-green: #73BA9B;
$dark-green: #003E1F;

$input-color: #47725F;
$placeholder-color: #BDF5D8;

//properties variables
$border-light-green: 2px solid $light-green !important;